fastapi==0.111.1
uvicorn[standard]==0.30.3
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
pydantic==2.8.2
pydantic-settings==2.3.4
email-validator==2.2.0
python-dotenv==1.0.1
alembic==1.13.2
pgvector==0.3.2
langchain==0.2.11
langchain-groq==0.1.9
langgraph==0.1.19
gunicorn==22.0.0
requests==2.32.3